ul.ul {
    height: 100%;
    background: rgb(63, 62, 62);
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 10px;
}

ul.ul li {
    list-style: none;
}

ul.ul a {
    color: white;
    text-decoration: none;
}