
  .companies{
    width: 100%;
    padding: 50px 0;
    background-color: #000000;
}

.boxes{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  flex-wrap: wrap;

  gap: 20px;
}

.companies img{
  width: 100%;
}

.specificCSS{
  width: 100%;
  position: absolute;
  z-index: 999;
}

.videoContainer{
  height: 760px;
}
